@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quanto';
    src: url('Quanto.woff2') format('woff2'),
        url('Quanto.woff') format('woff'),
        url('Quanto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

